input[type="checkbox"] {
    transform: scale(1.5);
}

body {
    width: 100%;
    margin: auto;
}

#pengirim-section {
    background-color: #f9f9e0;
    width: 50%;
    margin: 20px auto;
    /* border: 2px solid black; */
    border-radius: 20px;
    padding: 25px;
}

.data-pengirim {
    display: block;
    text-align: center;
    margin: 10px;
}
.data-pengirim input,
.data-pengirim select {
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    border: 2px solid #548a92;
}

#tambah-penerima-btn {
    width: 100%;
    border: 1px solid black;
    border-radius: 0;
    /* position: absolute;
    margin-top: -50px;
    right: 20px; */
}

.all-cards {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}
.card {
    flex: 0 0 auto;
    margin: 15px;
}
.card-body {
}

.card-body {
}

.sticky-card {
    min-width: 400px;
    max-width: 400;
    z-index: 1;
    position: sticky;
    left: 0;
}

#penerima-section {
    overflow-x: auto;
}

table {
    border: 2px solid black;
    width: 100%;
}
th,
td {
    border: 2px solid black;
    padding: 5px;
}

textarea {
    width: 200px;
}

.keterangan {
    width: 100%;
    text-align: center;
}
.keterangan #tambah-penerima-btn {
    margin-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.1);
}
.keterangan #tombol-submit {
    margin-top: 5px;
}

@media screen and (max-width: 768px) {
    body {
        width: 100%;
    }
    #pengirim-section {
        width: 100%;
    }
    * {
        font-size: 0.9rem;
    }
    table,
    .total-harga-text {
        font-size: 1.2rem;
    }
    th td {
        margin: 10px 0;
        padding: 5px;
    }

    .keterangan button:nth-child(1) {
        width: 100%;
        margin: auto;
    }
    .keterangan .total-harga-text {
        width: 90%;
        margin: auto;
    }
    #tombol-submit {
        width: 90%;
        margin: auto;
    }
    .tombol-next {
        font-size: 1.3rem;
    }

    .bukti-bayar label {
        width: 90%;
    }
}

.tombol-next {
    cursor: pointer;
    width: 100%;
    margin: auto;
    border: 2px solid #548a92;
    border-radius: 20px;
    padding: 10px 0;
    transition: all 0.2s;
}
.tombol-next:hover {
    color: white;
    background-color: #548a92;
}

table tr td:nth-child(9) {
    background-color: yellow;
}

footer {
    /* width: auto; */
    position: relative;
    bottom: 0;
    margin-top: 200px;
}

#onLoadModal .modal-body {
    text-align: center;
}
#onLoadModal p {
    text-align: justify;
}

#total-harga-keseluruhan-to-form,
#link-bukti-pembayaran-to-form {
    display: none;
}

.bukti-bayar #bukti-pembayaran-input-file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.bukti-bayar label {
    cursor: pointer;
    /* display: inline-flex; */
    align-items: center;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
    color: white;
    font-size: 14px;
    margin-top: 10px;
    padding: 10px 12px;
    background-color: #75694f;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
}

.bukti-bayar label svg {
    height: 16px;
    margin-right: 4px;
}
